services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"

  db:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7

  worker:
    build: .
    command: python manage.py rqworker default
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    profiles:
      - worker

volumes:
  pgdata:
